.main-cat-body{
    .ems-prd-list-navigasyon{
        .urunNavigasyon{
            padding:20px 0px;
            > span{
                a{
                    font-size:30px !important;
                }
                font-weight:bold;
                color:$color1 !important;
            }
        }
    }
    .ems-prd-list-left{
        display: none;
        .ems-prd-list-filter{
            display: none;
        }        
    }
    .ems-prd-list-right{
        margin:0 auto;
        .ems-prd-list-sub-cats{
            display: none !important;
        }
    }
}


.ems-prd-list{
    display: flex !important;
    flex-wrap: wrap;
    position: relative;
    .ems-prd-list-top-bar{
        .ems-prd-list-navigasyon{
            width:70%;
            .navigasyon{
                span{
                    display: block;
                    font-size:20px;
                    color:$color7;
                    > a{
                        font-size:20px;
                        margin:0px 10px;
                    }
                    .navigasyonSeviye2{
                        display: inline-block;
                    }
                }
            }
        }
        .ems-prd-list-btn-area{
            width:30%;
                .ems-prd-list-btns{
                    justify-content: flex-end;                
                }
        }
    }
    &-left{
        position: sticky;
        top:140px;
        height: 100%;
        width:350px;
        border-right:1px solid $color3;
        .ems-prd-list-filter{
            width:300px;
            padding-left:20px;
            padding-right:30px;
            .kutuHeaderOzellikFiltre{
                display: none;
            }
        }
    }
    &-right{
        width:calc(100% - 350px);
        .ems-prd-list-sub-cats{
            .kutuKategori{
                ul{
                    display: flex;
                    max-width: 1230px;
                    width:100%;
                    margin:0 auto;
                    padding:0px;
                    > li{
                        width:100%;
                        &:before{
                            content:none;
                        }
                        > a{
                            font-size:35px;
                        }
                        > ul{
                            flex-wrap: wrap;
                            > li{
                                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                                border: solid 0.5px #888888;
                                border-radius: 3px;
                                width:calc((100% / 4) - 30px);
                                margin:10px 15px 10px 15px;
                                transition: all .4s;
                                &:hover{
                                    box-shadow: none;
                                }
                                a{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding:10px;
                                    font-size:20px;
                                }
                                &.act{
                                    border:2px solid $color1;
                                    a{

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }   
        .ems-prd-list-prds{
            max-width:1200px;
            margin:0 auto;
        }
    }
}

.section-cat-sub{
    .section-cat-sub-list{
        ul{
            justify-content: flex-start;
            li{
                width:calc( (100% / 4) - 25px);
                margin:0px 12.5px 110px 12.5px;
                a{  
                    span{
                    }
                }
            }
        }
    }
}



.emosInfinite{
    display: flex;
    .ems-prd{
        width:calc((100% / 4) - 35px) !important;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 0.3px #000000;
        border:1px solid #ddd;
        border-radius: 6px;
        margin:17.5px;
        &-inner{
            padding:20px 10px;
            .ems-prd-image{
                padding-bottom:10px;
                border-bottom:1px solid $color3;
            }
            .ems-prd-body{
                margin-top:20px;
                .ems-prd-name{
                    margin-bottom:10px;
                }
                .ems-prd-description{
                    min-height:50px;
                    margin-bottom:10px;
                    span.emos_invisible{
                        display: block !important;
                        ul{
                            li{
                                line-height: 2;
                                font-size:13px;
                            }
                        }
                    }
                }
                .ems-prd-offer-btn{
                    text-align: right;
                }
            }
        }
    }
}