.ems-page-product-detail {
    &-grid {
        >div {
            margin-bottom: 100px;
            &.ga1 {
                margin-top: 50px;
                margin-bottom: 20px;
                .custom-category-dropdown {
                    .dropdown-header {
                        line-height: unset !important;
                        padding-right: 0 !important;
                        border: unset !important;
                    }
                    ul {
                        border: unset !important;
                        background: #fff;
                        -webkit-box-shadow: -3px 3px 15px 0 rgba(103, 103, 103, 0.29);
                        box-shadow: -3px 3px 15px 0 rgba(103, 103, 103, 0.29);
                        margin-top: 12px;
                        max-height: 380px !important;
                        z-index: 9;
                    }
                }
                .navigasyon {
                    ol {
                        position: relative;
                        top: 0;
                        opacity: 1;
                        display: flex;
                        font-size: 14px;
                    }
                    .navigation-full-path {
                        display: none;
                    }
                }
            }
        }
    }
}

.prd-detail-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &-left {
        width: 100%;
        .ems-prd-name {
            h1 {
                font-size: 26px;
            }
            >div {
                font-size: 20px;
            }
        }
        .swiper-container-thumbs {
            padding: 10px;
            .swiper-wrapper {
                padding: 10px 0px;
                .swiper-slide {
                    cursor: pointer;
                    text-align: center;
                    border-radius: 5px;
                    overflow: hidden;
                    border: 2px solid transparent;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    transition: box-shadow .4s;
                    &:hover {
                        border: 2px solid $color4;
                        box-shadow: none;
                    }
                    img {
                        width: 102px
                    }
                }
            }
        }
        .swiper-slide {
            a {
                width: 100%;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        .swiper-pagination {
            display: none !important;
        }
        .zoom-gallery {
            display: none;
        }
    }
    &-right {
        width: 100%;
        .ems-prd-name {
            display: none;
        }
        .ems-prd-types {
            margin-top: 30px;
            >.swiper-container {
                margin-bottom: 25px;
                .ems-prd-types-title {
                    width: 100%;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                .swiper-slide {
                    width: 120px;
                    height: 80px;
                    img {
                        transition: margin .4s;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
                        border-radius: 8px;
                    }
                }
            }
            .ems-prd-colors,
            .ems-prd-texture {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-bottom: 15px;
                >.ems-prd-types-title {
                    width: 100%;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                li {
                    width: 23%;
                    max-width: 90px;
                    margin-right: 2%;
                    margin-bottom: 15px;
                    transition: box-shadow .4s;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
                    &:hover {
                        box-shadow: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .ems-prd-description {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 20px;
        }
        .prd-detail-buttons {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .scroll-trigger {
                width: 60%;
                >div {
                    margin-bottom: 30px;
                    a {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        i {
                            font-size: 20px;
                            margin-right: 5px;
                        }
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .ems-prd-offer-btn {
                width: 40%;
                text-align: right;
                a {
                    padding: 0px;
                    background-color: $color4;
                    width: 100%;
                    border: none;
                    color: $color2;
                    i {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.prd-patch-item {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            width: 49%;
            max-width: 155px;
            margin-bottom: 30px;
            >* {
                width: 100%;
            }
            img {
                margin-bottom: 15px;
            }
            span {
                display: block;
                &:nth-child(2) {
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                &:nth-child(3) {}
            }
        }
    }
}

.prd-detail-ozellik-set {
    margin-top: 100px;
    .urunOzellik {
        >table {
            >tbody {
                >tr {
                    .gridRowUrunOzellik,
                    .gridAlternateUrunOzellik {
                        div.tableTitleUrunOzellik {
                            font-weight: bold;
                            font-size: 16px;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        table {
                            margin-bottom: 80px;
                            tbody {
                                .gridRowUrunOzellikDetay,
                                .gridAlternateUrunOzellikDetay {
                                    border-bottom: 1px solid $color3;
                                    padding: 10px 0px;
                                    display: flex;
                                    td {
                                        width: 50% !important;
                                        &:nth-child(2) {
                                            font-weight: bold;
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}