.prd-detail-page {
    &-left {
        width: 49%;
        .ems-prd-name {
            display: none;
        }
    }
    &-right {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        >div {
            width: 100%;
        }
        .ems-swiper-active {
            .swiper-wrapper {
                align-items: flex-end;
                padding: 25px 0px;
                .swiper-slide {
                    padding-left: 20px;
                    img {
                        transition: margin .4s;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
                        border-radius: 8px;
                        width: 60%;
                    }
                }
                .swiper-slide-active {
                    img {
                        margin-bottom: 90px;
                    }
                }
                min-height: 250px;
            }
            .swiper-button-next,
            .swiper-button-prev {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0NiIgdmlld0JveD0iMCAwIDQ2IDQ2Ij48cmVjdCB3aWR0aD0iNDYiIGhlaWdodD0iNDYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMzAuNjY3LDE3LjI1SDcuMjgzTDE4LjAxNywyNy45ODNsLTIuNjgzLDIuNjgzTDAsMTUuMzMzLDE1LjMzMywwbDIuNjgzLDIuNjgzTDcuMjgzLDEzLjQxN0gzMC42NjdWMTcuMjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3LjY2NyA3LjY2NykiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
                display: block;
                border: 1px solid $color1;
                border-radius: 100%;
                position: absolute;
                bottom: -100px;
                top: inherit;
                background-color: $color2;
                width: 103px;
                height: 103px;
                transition: box-shadow .4s;
                &:hover {
                    box-shadow: none;
                }
            }
            .swiper-button-next {
                left: 55%;
            }
            .swiper-button-prev {
                right: 20%;
            }
        }
        .ems-prd-name {
            order: 1;
            font-size: 35px;
            font-weight: bold;
            display: block;
        }
        .ems-prd-types {
            order: 3;
            .swiper-container {
                height: unset;
                .ems-prd-types-title {
                    font-size: 22px;
                }
                .swiper-inner {
                    .swiper-wrapper {
                        min-height: auto;
                        align-items: self-start;
                        .swiper-slide {
                            max-width: 92px;
                            max-height: 69px;
                            padding-left: 0;
                            margin-right: 20px;
                            img {
                                width: 100%;
                            }
                        }
                        .swiper-slide.slide-active {
                            img {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                    width: 50px !important;
                    height: 50px !important;
                    background-size: 25px !important;
                    top: 60%;
                }
            }
            .ems-prd-colors,
            .ems-prd-texture {
                >.ems-prd-types-title {
                    font-size: 22px;
                }
                li {}
            }
        }
        .ems-prd-description {
            order: 2;
            font-size: 22px;
            line-height: 30px;
            margin-top: 30px;
        }
        .prd-detail-buttons {
            order: 4;
            align-items: flex-end;
            .scroll-trigger {
                >div {
                    margin-top: 25px;
                    margin-bottom: 0px;
                    a {
                        i {}
                        span {}
                    }
                }
            }
            .ems-prd-offer-btn {
                a {}
            }
        }
    }
}

.prd-patch-item {
    margin-top: 150px;
    ul {
        li {
            width: 23%;
            max-width: 285px;
            img {
                margin-bottom: 25px;
            }
            span {
                &:nth-child(2) {
                    font-size: 22px;
                    margin-bottom: 25px;
                }
                &:nth-child(3) {
                    font-size: 25px;
                }
            }
        }
    }
}

.prd-detail-ozellik-set {
    margin-top: 100px;
    .urunOzellik {
        >table {
            >tbody {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                >tr {
                    width: 45%;
                    >td {
                        width: 100%;
                        display: block;
                    }
                    .gridRowUrunOzellik,
                    .gridAlternateUrunOzellik {
                        div.tableTitleUrunOzellik {
                            font-size: 25px;
                        }
                        table {
                            tbody {
                                .gridRowUrunOzellikDetay,
                                .gridAlternateUrunOzellikDetay {
                                    td {
                                        &:nth-child(2) {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ems-page-product-detail {
    &-grid {
        >div {
            &.ga1 {
                .custom-category-dropdown {
                    display: none;
                }
            }
            &.ga5 {
                .product-detail-documentation {
                    >div {
                        font-weight: bold;
                        font-size: 25px;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    li {
                        border-bottom: 1px solid #ddd;
                        padding: 12px 0;
                        &:last-child {
                            border-bottom: unset;
                        }
                        .documentation-list {
                            display: flex;
                            flex-direction: row;
                            &-icon {
                                width: 7%;
                            }
                            >div {
                                width: 83%;
                                display: flex;
                                flex-direction: row;
                                .documentation-title {
                                    width: 18%;
                                    align-self: center;
                                }
                                .documentation-desc {
                                    width: 65%;
                                    align-self: center;
                                }
                            }
                            .documentation-download {
                                width: 10%;
                                align-self: center;
                                border: 1px solid;
                                border-radius: 5px;
                                cursor: pointer;
                                text-align: center;
                                a {
                                    padding: 10px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}