.ems-prd-list{
    margin-top:40px;
}

.main-cat-body{
    .ems-prd-list-navigasyon{
        .urunNavigasyon{
            padding:20px 0px;
            > span{
                font-size:25px;
            }
        }
    }
    .ems-prd-list-left{
        .ems-prd-list-filter{
            display: none;
        }        
    }
    .ems-prd-list-right{
        .ems-prd-list-sub-cats{
            display: none !important;
        }
    }
}

.ems-prd-list-top-bar{
    margin-bottom:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    .ems-prd-list-navigasyon{
        width:100%;
        .navigasyon{
            span{
                display: block;
                font-size:0px;
                > a{
                    font-size:25px;
                }
                .navigasyonSeviye1{

                }
                .navigasyonSeviye2{
                    display: none;
                }
            }
        }
    }
    .ems-prd-list-btn-area{
        > div{
            width:100%;
        }
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ems-prd-list-btns{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn-filter-popup{
                border:1px solid $color1;
                padding:7px 0px;
                min-width:85px;
                text-align: center;
                border-radius: 3px;
                text-transform: uppercase;
                font-size: 12px;
            }
            .btn-catalog{
                border:1px solid $color1;
                padding:7px 0px;
                min-width:200px;
                text-align: center;
                border-radius: 3px;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }
}

.ems-prd-list{
    &-left{
        
    }
    &-right{
        
    }
}

.section-cat-sub{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .section-cat-sub-list-left{
        display: none;
    }
    .section-cat-sub-list{
        ul{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                width:calc( (100% / 2) - 7.5px);
                margin-bottom:15px;
                &:hover{
                    a{
                        box-shadow: none;
                        transition: box-shadow .4s ease-out;
                    }
                }
                a{
                    border-radius: 5px;
                    box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.16);
                    border: 1px solid $color1;
                    display: flex;
                    flex-wrap:wrap;
                    span{
                        width:100%;
                        box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.16);
                        border-top:1px solid $color7;
                        border-radius: 5px;
                        padding:17px;
                        font-weight: bold;
                        line-height: 1.19;
                        color:$color1;
                        text-align: center;
                        font-size:14px;
                    }
                }
            }
        }
    }
}
ul.emosInfinite{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    .ems-prd{
        border-bottom:1px solid #ddd;        
        width:100%;
        &-category{
            span.emos_invisible{
                display: block !important;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
        &-name{
            a{
                font-weight: bold;
            }
        }
    }
}