.site-footer {
    &:before {
        content: "";
        margin: 10px 0 25px 0;
        border: 1px solid #ddd;
        width: 100%;
        opacity: 0.7;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        display: block;
    }
    .footer-left {
        .footer-menu {
            ul {
                margin: 10px 0;
                &:nth-child(3) {
                    span {
                        display: none;
                    }
                    li {
                        display: block;
                        margin: 10px 0;
                    }
                }
                &:nth-child(4) {
                    span {
                        margin-top: 15px;
                    }
                    li {
                        display: block;
                        margin: 10px 0;
                    }
                }
                li {
                    display: none;
                }
                &:last-child {
                    margin-top: 25px;
                }
            }
        }
    }
    .footer-right {
        .footer-social-menu {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .f-contact {
                display: flex;
                align-items: flex-end;
                i {
                    font-size: 20px;
                    padding-right: 3px;
                }
            }
            .f-phone {
                font-size: 40px;
                font-weight: bold;
                margin: 10px 0
            }
            .f-social {
                display: flex;
                flex-direction: row;
                li {
                    padding-right: 15px;
                }
            }
            .koc-logo {
                img {
                    width: 100px;
                }
            }
            .copyright {
                margin-bottom: 20px;
            }
        }
    }
}

.ems-page-search {
    .ga2 {
        .pageArama {
            >div {
                &:first-child {
                    padding-bottom: 15px;
                }
            }
            padding: 50px 0 0 20px
        }
        .tableTitleArama {
            padding: 30px 0 0px 20px;
        }
        .tableDefault {
            display: none !important;
        }
        .tblBtnAraIptal {
            display: none;
        }
    }
}