.kutuOzellikFiltre {
    display: block;
    position: static;
    background-color: transparent;
    color: inherit;
}

.kutuHeaderOzellikFiltre {
    background-color: inherit;
    padding: 15px 10px;
    border-bottom: 1px solid $color10;
    display: none;
}

.kutuBodyOzellikFiltre {
    overflow: visible;
}

#dvUrunKiyaslamaOzellik {
    margin: 0;
    margin-top: 10px;
    border-color: $color10;
}

.urunKiyaslamaOzellik_ozellikAd {
    position: static;
    background-color: inherit;
}

.kutuFooterOzellikFiltre {
    display: none;
}

//seçili filtreler
.pnlUrunKiyasSecim {
    display: block;
    margin: 20px 0 0 30px;
}