.urunPaging {
    margin-top: 50px;
    width: auto;
}

.urunPaging_pageNavigation {
    border: none;
    [id$="lblPaging"] {
        margin-left: auto;
        margin-right: 0;
        a.paging {
            &:not(:last-child) {
                display: inline-block;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
    .paging {
        margin: 0 30px;
        font-size: 16px;
        &[id$="lnkPrev"] {
            border-left: unset;
            width: 40px;
            border: 1px solid;
            border-radius: 100%;
            height: 40px;
            line-height: 37px;
            margin-left: auto;
            +[id$="lblPaging"] {
                margin-left: 0;
            }
        }
        &[id$="lnkNext"] {
            border-left: unset;
            width: 40px;
            border: 1px solid;
            border-radius: 100%;
            height: 40px;
            line-height: 37px;
            +[id$="lblPaging"] {
                margin-left: 0;
            }
        }
    }
    span.paging {
        color: #b51f2a;
        border-color: transparent;
        border-bottom: 1px solid;
    }
    .tumunuGoster {
        display: block !important;
    }
}